{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<h1>Know more about me.</h1>
<br>
<br>
<div class="intro">
    <img class="myphoto" src="{% static 'images/myphoto.jpg' %}" alt="">
    <p>Hi! I'm Joseph Elmer S. Saldon Jr. currently studying at Cavite State University Bacoor campus, I'm 21 years old. I am a 3rd year student taking up Bachelors of Science in Information Technology (BSIT) course.</p>
</div>

<div class="infos">
    <h2 class="aboutfo">INFORMATIONS</h2>
    <p class="parfo" >
        - BIRTHDAY: July 28, 2003 <br>
        <br>
        - CONTACT:  09397339786   <br>
        <br>          
        - EMAIL:    ejeysaldon@gmail.com          
    </p>

</div>
<div class="infos">
    <h2 class="aboutfo">HOBBIES</h2>
    <p class="parfo">
        - PLAYING BADMINTON
        - LISTENING MUSIC
        <br>
        <br>
        - DRAWING
        - SKETCHING
        <br>
        <br>
        - DESIGNING
        - ARCHITECTING
    </p>
</div>
{% endblock content %}
